<%- include('public/header') %>
<div class="container">
  <div class="content">
    <div class="form w600">
    <form method="post" enctype="multipart/form-data">
      <div>
        <label>用户名</label>
        <input placeholder="用户名" type="text" name="name">
      </div>
      <div>
        <label>密码</label>
        <input placeholder="密码" type="password" name="password">
      </div>
      <div class="butbox">
        <input type="button" class="button" onclick="history.go(-1)" value="取消">
      <input type="submit" class="button" value="登录">
      </div>
    </form>
    </div>
  </div>
</div>
<%- include('public/footer') %>