<div class="container bg">
	<div class="content">
	<ul class="nav">
		<li>
			<a href="/">
				<span>首页</span>
			</a>
		</li>
		<li>
			<a href="/diary/index">
				<span>我的日志</span>
			</a>
		</li>
		<li>
			<a href="__URL__/../Lesson/index">
				<span>视频教程</span>
			</a>
		</li>
		<li>
			<a href="__URL__/../Expert/index">
				<span>专家帮助</span>
			</a>
		</li>
		<li>
			<a href="__URL__/../Shop/index">
				<span>购物商城</span>
			</a>
		</li>
		<li>
			<a href="__URL__/../Market/index">
				<span>大众点评</span>
			</a>
		</li>
	</ul>
	</div>
</div>